SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY_DO_SUPABASE
CATALOG_URL=http://localhost:3001
ORDERS_URL=http://localhost:3002
NOTIFICATIONS_URL=http://localhost:3003
